<!-- _includes/head.html -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>

{% seo %}

<link rel="stylesheet" href="/assets/css/style.css">

<!-- Site Favicon -->
<link rel="icon" href="/images/favicon.png" type="image/png">

<!-- Google Ads / Analytics 등 필요한 스크립트 -->
{% if site.adsense %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.adsense }}" crossorigin="anonymous"></script>
{% endif %}

